[project]
name = "example-agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "python-dotenv>=1.0.0",
    "openai>=1.0.0",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
